<!-- <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
</div> -->


<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h1>The easy way to compare and buy life insurance</h1>
			<%= simple_form_for @user_wizard, as: :user_wizard, url: validate_step_wizard_path do |f| %>
			<%= f.error_notification %>
			<%= hidden_field_tag :current_step, 'step1' %>
			<%= f.input :zip_code %>
			<%= f.submit 'Get Started', class: "btn btn-primary" %>
			<% end %>
		</div>
		<div class="col-md-6">
			<img src="https://policygenius-images.imgix.net/photos/home/mother-holding-yawning-baby.jpg?fit=max&auto=format&ch=Width,DPR&w=720">
		</div>
	</div>
</div>